[submodule "ekutils"]
	path = subprojects/ekutils
	url = https://github.com/handtruth/ekutils.git
[submodule "paket-cpp"]
	path = subprojects/paket-cpp
	url = https://github.com/handtruth/paket-cpp.git
